<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head :: commonHead}"></th:block>
</head>
<body>
<div class="header2">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <div class= 'header-line'>
        <div class="cloud-logo">
            <img src="/image/cloud_logo.png" alt="cloud-logo">
        </div>

        <div class='label-text'>
            <h2>Cloud storage</h2>
        </div>


        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                                <span th:text="${userInfo}">User info</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button type="button" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1">
                        Sign Out
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2">
                        Delete
                    </button>
                </li>
            </ul>
            <!--                    Для Sign Out-->
            <div class="modal fade" id="staticBackdrop1"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel1"
                 aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel1"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to sign out?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <form th:action="@{/sign-out}" th:method="post">
                                <button type="submit" class="btn btn-primary">Sign Out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--                    Для Delete-->
            <div class="modal fade" id="staticBackdrop2"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel2"
                 aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel2"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this account?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <form th:action="@{/user}" th:method="DELETE">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<div class="container-center-storage">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <form action="#" method="get">
            <input class="search" placeholder="Search in storage"
                   type="text" id="name"
                   name="name" required
                   title="Name location must contain only letters ">
            <input class="btn-search" type="submit" value="Search">
        </form>
    </div>
    <div class="btn-add-upload">
        <form action="#" method="get">
            <button type="submit" class="upload-folders">UPLOAD FOLDERS</button>
        </form>
        <form action="#" method="get">
            <button type="submit" class="upload-files">UPLOAD FILES</button>
        </form>
    </div>
    <div class="error" th:if="${error}" style="color: red;">
        <span th:text="${error}"></span>
    </div>

    <div class="container-center-user-page">

             <h2>Storage</h2>

        <div class="container-center-title">
            <h3>Folders</h3>
        </div>

        <div class="folders">

        </div>

            <div class="container-center-title">
                <h3>Files</h3>

            </div>

            <div class="files">

            </div>

    </div>
</div>

    <div class="container-center2">
        <div class="row">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>
</html>