<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->

<!--<div th:fragment="createFolderModal">-->
<!--    <div class="modal fade" id="createFolderModal" tabindex="-1">-->
<!--        <div class="modal-dialog modal-dialog-centered">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h1 class="modal-title fs-5">Create new folder</h1>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div>-->
<!--                        <form method="POST" action="#" th:object="${folderCreateDto}" class="form-floating" id="folderCreationForm">-->
<!--                                                    <input type="hidden" name="folderPath" th:value="${param.path}">-->
<!--                            <div class="form-floating">-->
<!--                                <input class="form-control" placeholder="Folder name"  required-->
<!--                                       type="text"-->
<!--                                id="folderName" th:field="*{folderName}" th:object="${folderCreateDto}">-->
<!--                                <label for="folderName">Folder name</label>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button class="btn btn-primary" form="folderCreationForm">Create</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->