<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="uploadFileModal">
    <div class="modal fade" id="uploadFileModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Upload file</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="fileUploadForm" th:object="${filesUploadDto}" enctype="multipart/form-data">
                        <input type="hidden" name="parentFolderPath" th:value="${param.path}">
                        <input type="file" field="#" class="form-control" required multiple>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" form="fileUploadForm">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>