<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="uploadFolderModal">
    <div class="modal fade" id="uploadFolderModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Upload folder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="folderUploadForm" th:object="${folderUploadDto}" enctype="multipart/form-data">
                        <!--                    <input type="hidden" name="parentFolderPath" th:value="${param.path}">-->
                        <input type="file" field="#" required webkitdirectory class="form-control ">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" form="folderUploadForm">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>